<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "name": "Sun Podder",
  "url": "https://sunpodder.github.io/",
  "image": "https://sunpodder.github.io/image/0.png",
  "description": "Hi, I'm Sun! I'm a backend developer with a passion for low-level development. I enjoy working on embedded systems and creating binary applications that can run on a variety of platforms.",
  "jobTitle": "Software Engineer",
  "address": {
    "@type": "PostalAddress",
    "addressRegion": "Dhaka",
    "addressCountry": "Bangladesh"
  },
  "sameAs": [
    "https://github.com/SunPodder",
    "https://facebook.com/sun.podder.09",
    "https://www.linkedin.com/in/sun-podder-610a63211"
  ]
}
</script>

